.header {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: calc(100% - 158px);
  max-width: 1282px;

  @media (max-width: 991px) {
    width: calc(100% - 80px);
    top: 20px;
  }

  @media (max-width: 768px) {
    width: 400px;
    max-width: calc(100% - 40px);
    top: 20px;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 50px;
  background: rgba(250, 250, 250, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 50px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  height: 70px;

  &.scrolled {
    background-color: white;

    .nav-link {
      color: var(--morado);
    }

    .btn-outline {
      border: 1px solid var(--morado);
      color: var(--morado);

      &:hover {
        background: rgba(34, 13, 67, 0.05);
      }
    }
  }

  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 2px 1px;
    position: relative;
    transition: font-weight 0.2s;

    &.active {
      font-weight: 800;
    }

    &:hover {
      font-weight: 700;
    }

    @media (max-width: 768px) {
      font-size: 12px;
    }
  }

  @media (max-width: 991px) {
    padding: 8px 24px;
  }

  @media (max-width: 768px) {
    padding: 8px 24px;
    justify-content: space-between;
  }
}

.logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;

  img {
    width: 107px;
    height: 44px;

    @media (max-width: 768px) {
      width: 100px;
      height: auto;
    }
  }
}

.nav {
  display: flex;
  gap: 32px;
  align-items: center;

  @media (max-width: 991px) {
  display: none;
}

@media (max-width: 968px) {
  gap: 20px;
}

@media (max-width: 768px) {
  display: none;
}
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  width: 81px;
  height: 65px;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;

  @media (max-width: 768px) {
    display: flex;
  }

  span {
    width: 31px;
    height: 3.5px;
    background: white;
    border-radius: 2px;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;

  @media (max-width: 768px) {
    gap: 8px;
  }
}

.btn {
  padding: 8px 20px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.5px;
  transition: all 0.3s;
  white-space: nowrap;

  @media (max-width: 768px) {
    padding: 8px 16px;
    font-size: 16px;
  }
}

.btn-outline {
  @media (max-width: 991px) {
    display: none;
  }
}

.btn-outline {
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.05);
  color: white;

  &:hover {
    background: rgba(255, 255, 255, 0.15);
  }
}

.btn-primary {
  border: 1px solid var(--pink);
  background: var(--pink);
  color: white;

  &:hover {
    background: #b525c0;
    border-color: #b525c0;
  }
}
