.hero {
  position: relative;
  display: flex;
  min-height: 613px;
  padding: 60px 80px 0;
  background: url("https://api.builder.io/api/v1/image/assets/TEMP/adeeda46c838a66cff432db856cf4c2a7c12aba2?width=2880")
    lightgray 50% / cover no-repeat;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  @media (max-width: 991px) {
    min-height: 777px;
    background: url("https://cdn.builder.io/api/v1/image/assets%2F10149a0e5af4403090a4d03ef8749e69%2Ff1804e381c564d049b19097339590d28")
      center / cover no-repeat;
    padding: 260px 0 0 70px;
    flex-direction: column;
    gap: 200px;
    align-items: stretch;
    justify-content: center;
  }

  @media (max-width: 768px) {
    min-height: 600px;
    padding: 0;
    gap: 0;
    align-items: center;
    justify-content: flex-start;
    background: url("https://api.builder.io/api/v1/image/assets/TEMP/1321ef4908a275e6201d54026f6f660ac457017f?width=880")
      center / cover no-repeat;
  }
}

.hero-content {
  display: flex;
  align-items: center;
  gap: 24px;
  z-index: 1;

  @media (max-width: 991px) {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 210px 40px 40px;
  }

  @media (max-width: 768px) {
    height: 600px;
    justify-content: space-between;
    align-items: flex-start;
    padding: 180px 40px 40px;
    gap: 24px;
  }
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  @media (max-width: 991px) {
    width: 100%;
  }
}

.hero-subtitle {
  color: var(--pink);
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);

  @media (max-width: 991px) {
    font-size: 25px;
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.hero-title {
  color: white;
  font-size: 60px;
  font-weight: 800;
  line-height: normal;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);

  @media (max-width: 991px) {
    font-size: 40px;
  }

  @media (max-width: 768px) {
    font-size: 32px;
  }
}

.hero-wordmark {
  width: 253px;
  height: auto;

  @media (max-width: 991px) {
    width: 180px;
  }

  @media (max-width: 768px) {
    width: 180px;
  }
}

.btn-play {
  padding: 8px 20px;
  border-radius: 50px;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.05);
  color: white;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: all 0.3s;

  &:hover {
    background: rgba(255, 255, 255, 0.15);
  }
}

.hero-partner {
  display: flex;
  align-items: center;

  @media (max-width: 991px) {
    margin-bottom: 50px;
    padding: 0 0 50px 40px;
  }

  @media (max-width: 768px) {
    align-self: flex-start;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }

  svg {
    width: 160px;
    height: 31px;

    @media (max-width: 991px) {
      width: 200px;
      height: auto;
    }

    @media (max-width: 768px) {
      width: 100px;
      height: auto;
    }
  }
}
