<section class="partners">
    <div class="partners-header">
    <h2>Aqui puedes comprar tu KASH</h2>
    <p>Nuestras redes comerciales</p>
  </div>

  <div class="partners-carousel">
    <div class="carousel-track">
      <div
        class="carousel-inner"
        [style.transform]="'translateX(-' + currentSlide * 100 + '%)'"
      >
        <div *ngFor="let partner of partners" class="partner-card">
          <img [src]="partner" alt="Partner logo" />
        </div>
      </div>
    </div>

    <div class="carousel-dots">
      <button
        *ngFor="let partner of partners; let i = index"
        [class.active]="i === currentSlide"
        (click)="goToSlide(i)"
        class="dot"
      ></button>
    </div>
  </div>
</section>
