<div class="home">
  <app-header></app-header>
  
  <img
    class="decoration-ball ball-top-right"
    src="https://api.builder.io/api/v1/image/assets/TEMP/48e2e9c4a127a49b48790cd39681f812a1803b5e?width=211"
    alt=""
  />
  
  <app-hero></app-hero>
  <app-results></app-results>
  <app-winner-check></app-winner-check>
  <app-live-game></app-live-game>
  <app-partners></app-partners>
  
  <img
    class="decoration-ball ball-bottom-left"
    src="https://api.builder.io/api/v1/image/assets/TEMP/e6c4e0acc754eb209fa67cb2ec7dd1a71ad59797?width=207"
    alt=""
  />
  
  <app-footer></app-footer>
</div>
