.home {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.decoration-ball {
  position: absolute;
  z-index: 0;
  pointer-events: none;

  &.ball-top-right {
    width: 95px;
    height: auto;
    top: 1020px;
    right: -8px;
    transform: rotate(-22.832deg);

    @media (max-width: 991px) {
      display: none;
    }

    @media (max-width: 768px) {
      display: block;
      width: 105px;
      top: 899px;
      right: -51px;
    }
  }

  &.ball-bottom-left {
    width: 140px;
    height: auto;
    top: 1280px;
    left: -24px;
    transform: rotate(16.678deg);

    @media (max-width: 991px) {
      display: none;
    }

    @media (max-width: 768px) {
      display: block;
      width: 104px;
      top: 1413px;
      left: -62px;
      transform: rotate(16.678deg);
    }
  }
}
